/* Estilos globales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #1db4b9;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .search-form {
    display: flex;
    align-items: center;
}

.navbar .search-form input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 250px;
}

.navbar .search-form button {
    background-color: #60ebd8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.navbar .search-form button:hover {
    background-color: #1aa34a;
}

.date {
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    width: 280px;
    background-color: #1c1c1c;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar .profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sidebar .profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 15px;
}

.sidebar .profile h2 {
    margin: 0;
    color: #e0e0e0;
    font-size: 18px;
}

.sidebar .profile p {
    margin: 5px 0;
    color: #b3b3b3;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #b3b3b3;
    display: block;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #333333;
}

/* Content */
.container {
    display: flex;
    flex: 1;
    margin-top: 80px; /* Ajusta el margen superior para el navbar */
    transition: margin-left 0.3s ease;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 280px; /* Ajusta el margen izquierdo para el sidebar */
    transition: margin-left 0.3s ease;
}

.content.sidebar-hidden {
    margin-left: 0;
}

.box {
    background-color: #333333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box h2 {
    margin-top: 0;
    color: #ffffff;
}

.item {
    display: flex;
    align-items: center;
    background-color: #444444;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    position: relative;
}

.item:hover {
    background-color: #555555;
}

.item img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 15px;
}

.item .details {
    flex: 1;
}

.item .details h3 {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

.item .details p {
    margin: 5px 0;
    color: #b3b3b3;
}

.item .info-button {
    background-color: #1db4b9;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: background-color 0.3s ease;
}

.item .info-button:hover {
    background-color: #1aa34a;
}

/* Modal */
.info-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    border: 1px solid #333333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    width: 80%;
    max-width: 600px;
}

.info-modal.show {
    display: block;
}

.info-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
}

.info-modal .modal-header h3 {
    margin: 0;
    color: #ffffff;
}

.info-modal .modal-header .close-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.info-modal .modal-header .close-button:hover {
    color: #1db954;
}

.info-modal .modal-body {
    margin-top: 10px;
    color: #b3b3b3;
}

/* Botón de alternar el sidebar */
.toggle-button {
    background-color: #1db4b9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
}

.toggle-button:hover {
    background-color: #1aa34a;
}
.video-container {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.video-container iframe {
    width: 100%;
    height: 315px; /* Ajusta el tamaño según sea necesario */
}

.video-container video {
    max-width: 100%;
    height: auto;
}
